{% extends 'base.html' %}

{% block title %}
    Vacancies list
{% endblock %}

{% block content %}
    <h1>Vacancies list</h1>
    <ul>
        {% for vacancy in vacancies %}
            <li>
                <h2>{{ vacancy.title }}</h2>
                Site - {{ vacancy.site }} <br>
                City - {{ vacancy.city }} <br>
                Url - <a href="{{ vacancy.url }}" target="_blank">{{ vacancy.url }}</a><br>
                Date - {{ vacancy.date }} <br><br>
                User id - {{ vacancy.user.id }},   User email - {{ vacancy.user.email }} |  create date - {{ vacancy.create_date }} <br><br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}