{% extends 'base.html' %}

{% load static %}

{% block title %}
    Vacancies list
{% endblock %}

{% block content %}
<h1>Vacancies List</h1>
<h2>{{ window.location.host }}</h2>
<ul id="vacancies-list">
    {% for vacancy in vacancies %}
        <li>{{ vacancy.title }} - {{ vacancy.city.city }} - {{ vacancy.date }}</li>
    {% endfor %}
</ul>

<audio id="ringtone" src="{% static 'ringtone/bell.wav' %}"></audio>

<script>
var ringtone = document.getElementById("ringtone");


function connect() {
    socket = new WebSocket('ws://' + window.location.host);


    socket.onopen = function (e) {
        console.log("Successfully connected to the WebSocket.", window.location.host);
    }


    socket.onmessage = function (e) {
        let vacancies = JSON.parse(e.data)
        console.log(vacancies)
        let vacancyList = document.getElementById('vacancies-list')
        vacancyList.innerHTML = '';
        vacancies.forEach(function (vacancy) {
            let li = document.createElement('li');
            let a = document.createElement('a');
            let h2 = document.createElement('h2')
            let div = document.createElement('div')
            let p = document.createElement('p')
            h2.innerHTML = vacancy.title;
            a.href = vacancy.url;
            a.textContent = 'Url - ' + vacancy.url;
            a.target = '_blank';
            div.textContent = 'Data - ' + vacancy.date;

            li.appendChild(h2);
            li.appendChild(a);
            li.appendChild(div);
            vacancyList.appendChild(li);
        })

        ringtone.play().catch(function (error) {
            console.log("Chrome cannot play sound without user interaction first")});
    }

    socket.onerror = function (e) {
        console.log("error", e)
    }

    socket.onclose = function (e) {
        console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
        setTimeout(function (){
            console.log("Reconnecting...");
            connect()
        }, 2000)
    }
}
connect();


</script>
{% endblock %}